@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 237, 237, 237;
    --background-start-rgb: 17, 17, 17;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: black;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(-20vh) scale(1.1);
        opacity: 0;
    }
}